In [1]:
import requests
import pandas as pd
import numpy as np
import folium

In [4]:
url  = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = requests.get(url)
if page.status_code == 200:
    print('Done')
else:
    print('Page download error. Error code: {}'.format(page.status_code))

Done

In [5]:
import lxml
df_html = pd.read_html(url, header=0, na_values = ['Not assigned'])[0]
df_html.head()

  Postal Code           Borough              Neighbourhood
0         M1A               NaN                        NaN
1         M2A               NaN                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [6]:
df_html.dropna(subset=['Borough'], inplace=True)

In [7]:
n_empty_neighborhood = df_html[df_html['Neighbourhood'].isna()].shape[0]
print('Number of rows on which Neighborhood column is empty: {}'.format(n_empty_neighborhood))

Number of rows on which Neighborhood column is empty: 0

In [8]:
df_html[df_html['Neighbourhood'].isna()]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [9]:
df_html['Neighbourhood'].fillna(df_html['Borough'], inplace=True)
n_empty_neighborhood = df_html[df_html['Neighbourhood'].isna()].shape[0]
print('Number of rows on which Neighborhood column is empty: {}'.format(n_empty_neighborhood))

Number of rows on which Neighborhood column is empty: 0

In [10]:
df_html[df_html['Borough']=="Queen's Park"]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [16]:
df_postcodes =pd.DataFrame( df_html.groupby(['Postal Code','Borough']).Neighbourhood.agg([('Neighbourhood', ', '.join)]))
df_postcodes.reset_index(inplace=True)
df_postcodes.head(5)

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [17]:
df_html.dropna(subset=['Borough'], inplace=True)

In [18]:
n_empty_neighborhood = df_html[df_html['Neighbourhood'].isna()].shape[0]
print('Number of rows on which Neighborhood column is empty: {}'.format(n_empty_neighborhood))

Number of rows on which Neighborhood column is empty: 0

In [19]:
df_postcodes.shape

(103, 3)

In [20]:
df_postcodes.to_csv('Toronto_Postcodes.csv')

In [21]:
url_csv = 'http://cocl.us/Geospatial_data'
df_coordinates = pd.read_csv(url_csv)
df_coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [22]:
df_neighborhoods = pd.read_csv('Toronto_Postcodes.csv',index_col=[0])
df_neighborhoods.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [40]:
df_coordinates.rename(columns={'Postal Code': 'PostalCode'}, inplace=True)
df_neighborhoods.rename(columns={'Postal Code': 'PostalCode'}, inplace=True)

In [41]:
df_neighborhoods_coordinates = pd.merge(df_neighborhoods, df_coordinates, on='PostalCode')
df_neighborhoods_coordinates.head()

  PostalCode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]

In [43]:
# Check coordinates for a couple of neighborhoods
df_neighborhoods_coordinates[(df_neighborhoods_coordinates['PostalCode']=='M1G') |
                             (df_neighborhoods_coordinates['PostalCode']=='M1C') ]

  PostalCode      Borough  ...   Latitude  Longitude
1        M1C  Scarborough  ...  43.784535 -79.160497
3        M1G  Scarborough  ...  43.770992 -79.216917

[2 rows x 5 columns]

In [44]:
df_neighborhoods_coordinates.to_csv('Toronto_Postcodes_2.csv')

In [45]:
df = pd.read_csv('Toronto_Postcodes_2.csv', index_col=0)
df.head()

  PostalCode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]

In [46]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(df['Borough'].unique()),
        df.shape[0]
    )
)

The dataframe has 10 boroughs and 103 neighborhoods.

In [47]:
df.rename(columns={'Neighbourhood': 'Neighborhood'}, inplace=True)

In [48]:
df.groupby('Borough').count()['Neighborhood']

Borough
Central Toronto      9
Downtown Toronto    19
East Toronto         5
East York            5
Etobicoke           12
Mississauga          1
North York          24
Scarborough         17
West Toronto         6
York                 5
Name: Neighborhood, dtype: int64

In [49]:
df_toronto = df[df['Borough'].str.contains('Toronto')]
df_toronto.reset_index(inplace=True)
df_toronto.drop('index', axis=1, inplace=True)
df_toronto.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

  PostalCode          Borough  ...   Latitude  Longitude
0        M4E     East Toronto  ...  43.676357 -79.293031
1        M4K     East Toronto  ...  43.679557 -79.352188
2        M4L     East Toronto  ...  43.668999 -79.315572
3        M4M     East Toronto  ...  43.659526 -79.340923
4        M4N  Central Toronto  ...  43.728020 -79.388790

[5 rows x 5 columns]

In [50]:
print(df_toronto.groupby('Borough').count()['Neighborhood'])

Borough
Central Toronto      9
Downtown Toronto    19
East Toronto         5
West Toronto         6
Name: Neighborhood, dtype: int64

In [51]:
#Create list with the Boroughs (to be used later)
boroughs = df_toronto['Borough'].unique().tolist()

In [52]:
lat_toronto = df_toronto['Latitude'].mean()
lon_toronto = df_toronto['Longitude'].mean()
print('The coordinates of Toronto are {}, {}'.format(lat_toronto, lon_toronto))

The coordinates of Toronto are 43.66713498717948, -79.38987324871795

In [53]:
borough_color = {}
for borough in boroughs:
    borough_color[borough]= '#%02X%02X%02X' % tuple(np.random.choice(range(256), size=3))

In [54]:
map_toronto = folium.Map(location=[lat_toronto, lon_toronto], zoom_start=12)

# add markers to map
for lat, lng, borough, neighborhood in zip(df_toronto['Latitude'], 
                                           df_toronto['Longitude'],
                                           df_toronto['Borough'], 
                                           df_toronto['Neighborhood']):
    label_text = borough + ' - ' + neighborhood
    label = folium.Popup(label_text)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color=borough_color[borough],
        fill_color=borough_color[borough],
        fill_opacity=0.7).add_to(map_toronto)  
    
map_toronto

In [55]:
CLIENT_ID = 'DOZRNA1H3NIVIEP1H2GI2RXFZBSN1EE3ONEW1USVHVRJY5LN' # your Foursquare ID
CLIENT_SECRET = 'IWXX4IQTCQN3NC051WT4EMXROTGDEFMHK4M0JKAO4HTLYCAL' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius

In [56]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])
   
    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [57]:
toronto_venues = getNearbyVenues(names=df_toronto['Neighborhood'],
                                latitudes=df_toronto['Latitude'],
                                longitudes=df_toronto['Longitude'])

The Beaches
The Danforth West, Riverdale
India Bazaar, The Beaches West
Studio District
Lawrence Park
Davisville North
North Toronto West, Lawrence Park
Davisville
Moore Park, Summerhill East
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park
Rosedale
St. James Town, Cabbagetown
Church and Wellesley
Regent Park, Harbourfront
Garden District, Ryerson
St. James Town
Berczy Park
Central Bay Street
Richmond, Adelaide, King
Harbourfront East, Union Station, Toronto Islands
Toronto Dominion Centre, Design Exchange
Commerce Court, Victoria Hotel
Roselawn
Forest Hill North & West, Forest Hill Road Park
The Annex, North Midtown, Yorkville
University of Toronto, Harbord
Kensington Market, Chinatown, Grange Park
CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport
Stn A PO Boxes
First Canadian Place, Underground city
Christie
Dufferin, Dovercourt Village
Little Portugal, Trinity
Brockton, Parkdale Village, Exhibition Place
High Park, The Junction South
Parkdale, Roncesvalles
Runnymede, Swansea
Queen's Park, Ontario Provincial Government
Business reply mail Processing Centre, South Central Letter Processing Plant Toronto

In [58]:
toronto_venues.shape

(1629, 7)

In [59]:
toronto_venues.groupby('Neighborhood').count()

                                                    Neighborhood Latitude  ...  Venue Category
Neighborhood                                                               ...
Berczy Park                                                            58  ...              58
Brockton, Parkdale Village, Exhibition Place                           24  ...              24
Business reply mail Processing Centre, South Ce...                     16  ...              16
CN Tower, King and Spadina, Railway Lands, Harb...                     16  ...              16
Central Bay Street                                                     65  ...              65
Christie                                                               17  ...              17
Church and Wellesley                                                   75  ...              75
Commerce Court, Victoria Hotel                                        100  ...             100
Davisville                                                             31  ...              31
Davisville North                                                        7  ...               7
Dufferin, Dovercourt Village                                           16  ...              16
First Canadian Place, Underground city                                100  ...             100
Forest Hill North & West, Forest Hill Road Park                         5  ...               5
Garden District, Ryerson                                              100  ...             100
Harbourfront East, Union Station, Toronto Islands                     100  ...             100
High Park, The Junction South                                          27  ...              27
India Bazaar, The Beaches West                                         17  ...              17
Kensington Market, Chinatown, Grange Park                              64  ...              64
Lawrence Park                                                           3  ...               3
Little Portugal, Trinity                                               47  ...              47
Moore Park, Summerhill East                                             3  ...               3
North Toronto West, Lawrence Park                                      18  ...              18
Parkdale, Roncesvalles                                                 14  ...              14
Queen's Park, Ontario Provincial Government                            36  ...              36
Regent Park, Harbourfront                                              44  ...              44
Richmond, Adelaide, King                                              100  ...             100
Rosedale                                                                4  ...               4
Roselawn                                                                3  ...               3
Runnymede, Swansea                                                     37  ...              37
St. James Town                                                         84  ...              84
St. James Town, Cabbagetown                                            45  ...              45
Stn A PO Boxes                                                         96  ...              96
Studio District                                                        40  ...              40
Summerhill West, Rathnelly, South Hill, Forest ...                     16  ...              16
The Annex, North Midtown, Yorkville                                    20  ...              20
The Beaches                                                             5  ...               5
The Danforth West, Riverdale                                           42  ...              42
Toronto Dominion Centre, Design Exchange                              100  ...             100
University of Toronto, Harbord                                         34  ...              34

[39 rows x 6 columns]

In [60]:
toronto_venues['Venue Category'].unique()[:100]

array(['Trail', 'Health Food Store', 'Pub', 'Neighborhood', 'Coffee Shop',
       'Cosmetics Shop', 'Ice Cream Shop', 'Greek Restaurant',
       'Italian Restaurant', 'Brewery', 'Juice Bar', 'Yoga Studio',
       'Fruit & Vegetable Store', 'Dessert Shop', 'Pizza Place',
       'Restaurant', 'Bookstore', 'Furniture / Home Store',
       'Grocery Store', 'Café', 'Spa', 'Bubble Tea Shop', 'Bakery',
       'Caribbean Restaurant', 'Indian Restaurant', 'Frozen Yogurt Shop',
       'Lounge', 'Liquor Store', 'American Restaurant',
       'Sushi Restaurant', 'Gym', 'Fish & Chips Shop',
       'Fast Food Restaurant', 'Park', 'Burrito Place', 'Pet Store',
       'Steakhouse', 'Movie Theater', 'Sandwich Place',
       'Food & Drink Shop', 'Fish Market', 'Seafood Restaurant',
       'Gay Bar', 'Cheese Shop', 'Middle Eastern Restaurant',
       'Comfort Food Restaurant', 'Stationery Store', 'Thai Restaurant',
       'Coworking Space', 'Wine Bar', 'Latin American Restaurant', 'Bar',
       'Gastropub', 'Gym / Fitness Center', 'Convenience Store', 'Bank',
       'Diner', 'Clothing Store', 'Swim School', 'Bus Line',
       'Breakfast Spot', 'Department Store', 'Hotel',
       'Chinese Restaurant', 'Salon / Barbershop', 'Mexican Restaurant',
       'Sporting Goods Shop', 'Toy / Game Store', 'Gas Station',
       'Farmers Market', 'Gourmet Shop', 'Pharmacy', 'Tennis Court',
       'Supermarket', 'Sports Bar', 'Fried Chicken Joint',
       'Vietnamese Restaurant', 'Light Rail Station', 'Bagel Shop',
       'Playground', 'Japanese Restaurant', 'Jewelry Store',
       'General Entertainment', 'Butcher', 'Deli / Bodega',
       'Taiwanese Restaurant', 'Gift Shop', 'Market', 'Beer Store',
       'Plaza', 'Snack Place', 'Flower Shop', 'Theme Restaurant',
       'Dance Studio', 'Beer Bar', 'Ramen Restaurant', 'Burger Joint',
       'Creperie', "Men's Store", 'Martial Arts School'], dtype=object)

In [61]:
"Mexican Restaurant" in toronto_venues['Venue Category'].unique()

True

In [62]:
to_onehot = pd.get_dummies(toronto_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
to_onehot['Neighborhoods'] = toronto_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [to_onehot.columns[-1]] + list(to_onehot.columns[:-1])
to_onehot = to_onehot[fixed_columns]

print(to_onehot.shape)
to_onehot.head()

(1629, 236)

  Neighborhoods  Afghan Restaurant  ...  Women's Store  Yoga Studio
0   The Beaches                  0  ...              0            0
1   The Beaches                  0  ...              0            0
2   The Beaches                  0  ...              0            0
3   The Beaches                  0  ...              0            0
4   The Beaches                  0  ...              0            0

[5 rows x 236 columns]

In [63]:
to_grouped = to_onehot.groupby(["Neighborhoods"]).mean().reset_index()

print(to_grouped.shape)
to_grouped

(39, 236)

                                        Neighborhoods  ...  Yoga Studio
0                                         Berczy Park  ...     0.000000
1        Brockton, Parkdale Village, Exhibition Place  ...     0.041667
2   Business reply mail Processing Centre, South C...  ...     0.062500
3   CN Tower, King and Spadina, Railway Lands, Har...  ...     0.000000
4                                  Central Bay Street  ...     0.015385
5                                            Christie  ...     0.000000
6                                Church and Wellesley  ...     0.026667
7                      Commerce Court, Victoria Hotel  ...     0.000000
8                                          Davisville  ...     0.000000
9                                    Davisville North  ...     0.000000
10                       Dufferin, Dovercourt Village  ...     0.000000
11             First Canadian Place, Underground city  ...     0.000000
12    Forest Hill North & West, Forest Hill Road Park  ...     0.000000
13                           Garden District, Ryerson  ...     0.000000
14  Harbourfront East, Union Station, Toronto Islands  ...     0.000000
15                      High Park, The Junction South  ...     0.000000
16                     India Bazaar, The Beaches West  ...     0.000000
17          Kensington Market, Chinatown, Grange Park  ...     0.000000
18                                      Lawrence Park  ...     0.000000
19                           Little Portugal, Trinity  ...     0.021277
20                        Moore Park, Summerhill East  ...     0.000000
21                  North Toronto West, Lawrence Park  ...     0.055556
22                             Parkdale, Roncesvalles  ...     0.000000
23        Queen's Park, Ontario Provincial Government  ...     0.027778
24                          Regent Park, Harbourfront  ...     0.022727
25                           Richmond, Adelaide, King  ...     0.000000
26                                           Rosedale  ...     0.000000
27                                           Roselawn  ...     0.000000
28                                 Runnymede, Swansea  ...     0.027027
29                                     St. James Town  ...     0.000000
30                        St. James Town, Cabbagetown  ...     0.000000
31                                     Stn A PO Boxes  ...     0.010417
32                                    Studio District  ...     0.025000
33  Summerhill West, Rathnelly, South Hill, Forest...  ...     0.000000
34                The Annex, North Midtown, Yorkville  ...     0.000000
35                                        The Beaches  ...     0.000000
36                       The Danforth West, Riverdale  ...     0.023810
37           Toronto Dominion Centre, Design Exchange  ...     0.000000
38                     University of Toronto, Harbord  ...     0.029412

[39 rows x 236 columns]

In [64]:
len(to_grouped[to_grouped["Mexican Restaurant"] > 0])

8

In [66]:
to_mexican = to_grouped[["Neighborhoods","Mexican Restaurant"]]

In [67]:
to_mexican.head(9)

                                       Neighborhoods  Mexican Restaurant
0                                        Berczy Park            0.000000
1       Brockton, Parkdale Village, Exhibition Place            0.000000
2  Business reply mail Processing Centre, South C...            0.000000
3  CN Tower, King and Spadina, Railway Lands, Har...            0.000000
4                                 Central Bay Street            0.000000
5                                           Christie            0.000000
6                               Church and Wellesley            0.013333
7                     Commerce Court, Victoria Hotel            0.000000
8                                         Davisville            0.000000

In [68]:
from sklearn.cluster import KMeans
toclusters = 3

to_clustering = to_mexican.drop(["Neighborhoods"], 1)

# run k-means clustering
kmeans = KMeans(n_clusters=toclusters, random_state=1)
kmeans.fit_transform(to_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:20]

array([0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 2],
      dtype=int32)

In [69]:
to_merged = to_mexican.copy()

# add clustering labels
to_merged["Cluster Labels"] = kmeans.labels_

In [70]:
to_merged.rename(columns={"Neighborhoods": "Neighborhood"}, inplace=True)
to_merged.head(5)

                                        Neighborhood  ...  Cluster Labels
0                                        Berczy Park  ...               0
1       Brockton, Parkdale Village, Exhibition Place  ...               0
2  Business reply mail Processing Centre, South C...  ...               0
3  CN Tower, King and Spadina, Railway Lands, Har...  ...               0
4                                 Central Bay Street  ...               0

[5 rows x 3 columns]

In [71]:
to_merged = to_merged.join(toronto_venues.set_index("Neighborhood"), on="Neighborhood")

print(to_merged.shape)
to_merged.head()

(1629, 9)

  Neighborhood  ...                 Venue Category
0  Berczy Park  ...                     Restaurant
0  Berczy Park  ...                   Liquor Store
0  Berczy Park  ...  Vegetarian / Vegan Restaurant
0  Berczy Park  ...                   Concert Hall
0  Berczy Park  ...                       Beer Bar

[5 rows x 9 columns]

In [72]:
to_merged.sort_values(["Cluster Labels"], inplace=True)
to_merged.head()

      Neighborhood  ...                 Venue Category
0      Berczy Park  ...                     Restaurant
29  St. James Town  ...  Vegetarian / Vegan Restaurant
29  St. James Town  ...                       Beer Bar
29  St. James Town  ...                          Diner
29  St. James Town  ...                    Art Gallery

[5 rows x 9 columns]

In [79]:
map_clusters = folium.Map(location=[lat_toronto, lon_toronto],zoom_start=14)

In [80]:
map_clusters

In [81]:
#Cluster 0
to_merged.loc[(to_merged['Cluster Labels'] ==0) & (to_merged['Venue Category'] == 'Mexican Restaurant') ]

                Neighborhood  ...      Venue Category
13  Garden District, Ryerson  ...  Mexican Restaurant

[1 rows x 9 columns]

In [82]:
#Cluster 1
to_merged.loc[(to_merged['Cluster Labels'] ==1) & (to_merged['Venue Category'] == 'Mexican Restaurant') ]

                                 Neighborhood  ...      Venue Category
17  Kensington Market, Chinatown, Grange Park  ...  Mexican Restaurant
17  Kensington Market, Chinatown, Grange Park  ...  Mexican Restaurant
15              High Park, The Junction South  ...  Mexican Restaurant
17  Kensington Market, Chinatown, Grange Park  ...  Mexican Restaurant
15              High Park, The Junction South  ...  Mexican Restaurant
21          North Toronto West, Lawrence Park  ...  Mexican Restaurant

[6 rows x 9 columns]

In [83]:
#Cluster 2

to_merged.loc[(to_merged['Cluster Labels'] ==2) & (to_merged['Venue Category'] == 'Mexican Restaurant') ]

                                   Neighborhood  ...      Venue Category
23  Queen's Park, Ontario Provincial Government  ...  Mexican Restaurant
24                    Regent Park, Harbourfront  ...  Mexican Restaurant
19                     Little Portugal, Trinity  ...  Mexican Restaurant
6                          Church and Wellesley  ...  Mexican Restaurant

[4 rows x 9 columns]